[2018-10-05 14:33] ssirag opened #1 "Elasticsearch container fails in swarm mode"
When launching the v3 docker-compose in a swarm stack, the Elasticsearch container fails repeatedly and kills itself.

This error is recorded in the container log:
ERROR: [1] bootstrap checks failed
[1]: memory locking requested for elasticsearch process but memory is not locked

Apparently this is due to swarm ignoring the ulimits parameter.

Is there a way to run this app in swarm mode?  Trying

[2018-10-05 15:05] ssirag opened #2 "Fusionauth-app tries to connect to Elasticsearch via port 9021 after docker-compose up"
I used the v3 docker-compose.yml as posted in this repo, only adding a db password.

Using "docker-compose up" with the yml file, I get the initial setup wizard page, but after entering info, I see this in the log:

io.fusionauth.api.service.search.ElasticSearchClientProvider - Connecting to FusionAuth Search Engine at [http://localhost:9021]

And in the wizard, I see an error saying "The search e

[2018-10-05 15:35] ssirag commented on #2
Just FYI... I've also tried the docker-compose.yml with zero modifications, and cleared out all possible former containers and volumes; this machine is also running nothing else.

Netstat looks as expected given the ports in yml...

tcp        0      0 192.168.--.215:38310    192.168.--.215:2377     ESTABLISHED 1433/dockerd
tcp6       0      0 :::9011                 :::*                    LISTEN

[2018-10-05 16:45] robotdan commented on #2
Hi @ssirag thanks for the report. This will be fixed in `1.0.17`, which is releasing currently. It should be available within the hour.

The search service was starting up correctly based upon the configuration, but the fusionauth app was not picking it up from the environment properly.

Thanks!

[2018-10-05 16:50] robotdan commented on #1
Hi @ssirag thanks for the report.

From what I can tell Elasticsearch is not supported in swarm mode.

https://github.com/docker/for-linux/issues/88
https://github.com/moby/moby/issues/25209
https://github.com/elastic/elasticsearch-docker/issues/91

I'll do some additional investigation to see if this is something we can better support, but it may be a limitation of Elasticsearch.

[2018-10-05 17:17] robotdan commented on #2
Version `1.0.17` is released and docker images are updated. Thanks @ssirag

[2018-10-05 17:17] #2 closed

[2018-10-05 17:28] ssirag commented on #2
Confirmed, working now... thanks!

[2018-12-14 17:01] robotdan commented on #1
Hi @zzswang sorry for the delay. In the future, the best place to ask this question would be [StackOverflow](https://stackoverflow.com/questions/tagged/fusionauth) with the `fusionauth` tag , or in [FusionAuth Issues](https://github.com/FusionAuth/fusionauth-issues/issues).

Regarding the `vm.max_map_count` issue with Elasticsearch, have you looked at the Elasticsearch Docker guide?  https://www.e

[2018-12-15 01:42] zzswang commented on #1
Thank you @robotdan

I've solved this problem, it is caused by the cloud service provider's swarm cluster does not support unlimited memory by default.

Following is the quick solution from Elasticsearch community, in case someone coming up with same problem:

[code]

close this thread.

[2019-01-14 08:25] siscu opened #4 "Versioning (Git) templates and styles of the OAuth v2.0"
Hi Daniel,
i am using FusionAuth with Docker containers, and i have a doubt.
It would be possible to version UI templates of the OAuth?
In my yaml configuration file I have tried with volumes but I think that the path where the templates are located is not correct.

![image](https://user-images.githubusercontent.com/15733923/51102143-2015f800-17de-11e9-826a-54b8dccbc959.png)

Thanks and regards!

[2019-01-14 15:51] robotdan commented on #4
Hi @siscu

You do have the correct path to the templates. However in order to support multi-node configurations, once you customize a template using the API or the theme configuration in the UI - FusionAuth will store that updated template in the database.  The version found on disk in the `templates` directory will always be stock.

You could in theory version them by using volumes as you're sugg

[2019-01-15 09:20] siscu commented on #4
Thanks @robotdan

[2019-01-15 14:37] #4 closed

[2019-01-20 12:03] nadilas opened #5 "Kubernetes deployment"
Hello guys,

I've been trying to convert the `docker-compose` to a `kubernetes` setup.

The issue I ran into is, that the config folder remains empty after the `fusionauth-app` container deploys. I presume upon the first startup the `fusionauth.properties` and `keystore` files would be either downloaded from created from the environment variables provided in the deplyoment file
[code]

However the

[2019-01-20 16:35] nadilas commented on #5
Hi @robotdan,

great summary, thanks!
You are right, I am using `fusionauth/fusionauth-app:latest`, so it can only pull `1.3.1`.
I have both `DATABASE_ROOT_USER` and `DATABASE_URL` defined as environment variables. When the container starts, it starts skips the setup and starts directly without creating the`fusionauth.properties` or the `keystore` files.

Maybe you find something obvious, what I m

[2019-01-20 16:37] nadilas commented on #5
Oh, I almost forgot, here's the log:

[code]

[2019-01-20 18:18] robotdan commented on #5
I only have on theory so far, the earlier log statements (shown below) confirm that when we start up tomcat we have not been able to read the config. In our `setenv.sh` we read the config file and set Java properties for the tomcat ports which are used in the `server.xml` file.

[code]

Is it possible that the persistent volume is mounted after and thus hiding the directory that exists in the imag

[2019-01-20 19:58] nadilas commented on #5
@robotdan I see your point. Mounting the pvc in a different directory does indeed let the server start up. Here's the new challenge 😄 I attached the log.
Issue 1: mysql connector cannot be downloaded and is therefore not present
Issue 2: the UI is not happy

[code]

---

Regarding the waits, I was just being cautious. I didn't know if it would cause any problems, but depends_on is not a kubernetes

[2019-01-20 20:38] robotdan commented on #5
So I wonder if there is an additional paramter or configuration for the persistent volume to pickup the files that already exist, or perhaps you have to copy them I to the persistent volume. I'll have to do some additional reading on how kubernetes manages volumes.

Regarding the MySQL connector, that is strange. Does your instance have outbound network access? I am able to reach that URL. http://

[2019-01-22 17:04] nadilas commented on #5
Hi @voidmain, like magic! 😄

I updated the repo if you'd like to use it anywhere:
https://github.com/nadilas/fusionauth-k8s-infrastructure

The only thing remains, that the config will be generated each time, but I assume the database is not wiped, so it shouldn't be an issue. Maybe there's no need for the pvc for the config at all?

[2019-01-22 17:48] robotdan commented on #5
That is great @nadilas! Did you end up deciding the `wait-for` stuff is necessary?

If you needed it to get it up and running I'd like to take a look at that again, I believe FusionAuth should be waiting for a bit to connect to the db and search.

However, perhaps this behaves different in k8s due to the networking config. FusionAuth will start up and enter maintenance mode if we cannot connect to

[2019-01-22 21:57] nadilas commented on #5
@robotdan I can't be 100% sure that it's an availability issue, but without further debug log entries, that seems to be the case. I brought down the app once again and built it from scratch. Without the waiting the following error quits the silent configuration:
[code]
So this issue remains. The root cause for this thread was me setting the postgres port name to `http` which made istio run off the

[2019-01-22 22:18] robotdan commented on #5
Thanks for the additional info @nadilas .

If you're up for it - a PR would be preferred. We can always modify it if necessary to be more generic, etc. If possible, also as part of your PR update the README with any necessary info for others to use to get it up and running.

When I get a chance I'll try to get a k8s cluster set up so I can try to replicate the issue when the `wait-for` options are

[2019-01-23 19:48] nadilas commented on #5
Sounds good. PR is done

[2019-01-23 19:48] #5 closed

[2019-01-27 00:10] robotdan commented on #1
Thanks for posting your solution @zzswang, this may be able to help others with the same issue. .

[2019-03-04 18:26] joeltimothyoh commented on #1
@zzswang This solution works on ubuntu 18.04 with docker 18.06.1, and based on my testing, up to docker 18.06.3. However, with docker 18.09, it doesn't appear to work anymore.

[2019-03-05 00:24] robotdan commented on #1
Thanks for the update @joeltimothyoh. Feel free to update this issue if you find a solution.

I can also do some digging to see if I can come up with anything.

[2019-03-21 18:19] MatthewLymer opened #7 "Silent Configuration without root database password"
I'm looking at using FusionAuth in a Kubernetes environment, where my database is already hosted by Amazon RDS, but I'll be hosting FusionAuth-app and ElasticSearch in Amazon EKS (kubernetes).

[code]

If I provide the following environment variables:
[code]

And I omit:
[code]

Then I am always greeted with the "Silent Configuration Mode Failed" failed message.

Why is the root database password

[2019-03-21 19:01] MatthewLymer commented on #7
Found a workaround

If you specify the root username and password as the account you just created, then you're able to get to the "FusionAuth Setup Wizard" step.

[2019-03-21 19:13] robotdan commented on #7
Thanks for the update, glad you've gotten past this hurdle.

FusionAuth will attempt to enter silent configuration when the `DATABASE_ROOT_USER`, `DATABASE_URL` and `FUSIONAUTH_SEARCH_SERVERS` are provided in the environment.

In theory that means that omitting `DATABASE_ROOT_USER` should cause us to skip silent configuration, and go through maintenance mode which should be successful unless the s

[2019-03-21 19:30] MatthewLymer commented on #7
I am still passing in `FUSIONAUTH_SEARCH_SERVERS` and `DATABASE_URL`, but it looks like I am passing in `DATABASE_ROOT_USER` as an empty string, which is I guess where the problem is.

When I omit the environment variable entirely, it brings me to the `Maintenance Mode` screen asking for my database credentials to provision a new user and database.

However if I pass in `DATABASE_ROOT_USER` and `D

[2019-03-21 20:59] robotdan commented on #7
Thanks for the update.

Ok, this is what I suspected. In theory we could be a bit more defensive and check if the environment variable is defined and non-empty, I'll have to think about that further.

We do offer an "advanced" mode with instructions on creating the schema manually, but this is not how most will install FusionAuth. The intent of the silent mode configuration is to allow the mainten

[2019-03-22 02:16] MatthewLymer commented on #7
This is correct, if I provide `DATABASE_ROOT_USER` but it's blank then it'll go into "Silent Configuration Mode Failed", but if the env-var is not defined at all then I'll get the "Maintenance Mode" screen instead.

Setting `DATABASE_ROOT_USER` to the normal user made it work as I expected it to.

[2019-04-12 14:32] davve94 commented on #1
For docker 18.09 this worked for me:

Create the file: /etc/systemd/system/containerd.service.d/elasticsearch.conf

add the following:

[Service]
LimitMEMLOCK=infinity

reload daemon and restart containerd

[2019-04-15 15:20] Nitrosito commented on #1
I have problem with Docker SWARM, docker version 18.09.2, build 6247962...

I will try:
[code]

[2019-04-23 16:17] lamuertepeluda opened #8 "Example: usage with Kubernetes"
Hi there,

great work: I was trying to use the kubernetes setup locally with minikube.

The container setup seems to work good.

However there is no way I got it working (meaning: accessing from outside the cluster) with an ingress such as traefik, except using port forward (which is a non-solution).
`kubectl port-forward svc/fusionauth 9011:9011`

I tried adding this traefik configuration for an

[2019-04-23 16:43] robotdan commented on #8
Hi, thanks for opening an issue so that we can assist you.

Make sure the configured redirect URI in the FusionAuth application is correct.

If that is correct, this is likely a proxy configuration issue.  Review these issues for further context.
https://github.com/FusionAuth/fusionauth-issues/issues/112#issuecomment-481724601
https://github.com/FusionAuth/fusionauth-issues/issues/114#issuecomment

[2019-04-24 08:46] lamuertepeluda commented on #8
@robotdan Thank you very much! You pointed me to the right solution.

 I post here my solution (in case somebody else would find it useful)

[code]

[2019-04-24 08:46] #8 closed

[2019-04-24 15:07] robotdan commented on #8
Thanks @lamuertepeluda for posting your solution! I am sure someone else will find it useful.

In the next release of FusionAuth we will post a large warning on the dashboard when these headers are not set correctly when behind a proxy. We hope this will reduce how many run into this issue.

[2019-04-24 15:22] lamuertepeluda commented on #8
This project rocks! 🎸

[2019-05-10 13:20] JanLoebel opened #9 "Question: Docker folder-volumes"
Hi,

when running the example docker compose I don't want to create a "docker volume", instead I want to use a specific folder like:

[code]

When I do so I get this error:

[code]

Any plans to implement the possibility to use the folder structure? :) The database and elastic search are already able to run with the folder structure.

Best regards,
Jan

[2019-05-10 13:35] robotdan commented on #9
This should work for you. You'll have to be sure the config file ends up on the folder.

Is there a way to copy it in during startup?

`/usr/local/fusionauth/config/fusionauth.properties`

That file has to exist during startup.

[2019-05-16 13:18] JanLoebel commented on #9
Hi @robotdan ,

thanks, I've tried to create the "fusionauth.properties" file and that seemed to work. I also had to copy the "keystore" to the config directory. In the end I was not able to get all up and running but I will try it further. But the mapping problem is gone, therefore I will close this issue, sorry!

[2019-05-16 13:18] #9 closed

[2019-05-16 13:36] robotdan commented on #9
Thanks for the update, no need to be sorry. What is the failure you're seeing?

[2019-05-16 13:55] JanLoebel commented on #9
I've some problems regarding the database while startup:

[code]

Here's my "fusionauth.properties":
[code]

and the current docker-compose file:
[code]

[2019-05-16 14:07] robotdan commented on #9
Looks like the database `fusionauth` exists, but has no schema.

Did you manually create the DB?

You could try dropping the database. If you startup in silent mode with environment variables , FusionAuth will bootstrap itself.

[2019-05-16 14:32] JanLoebel commented on #9
I've reverted the fusionauth.properties to the default one, and changed the docker-compose-file to this:

[code]

Deleted all data directory and started it, now I have the problem that the search-server can not be found..

[2019-06-12 21:51] robotdan commented on #9
@JanLoebel are you still having problems with this? If so, feel free to re-open or open a new issue if the problem has changed.

Thanks !

[2019-07-11 05:11] clook commented on #1
From https://docs.docker.com/engine/release-notes/#18091:

As a result, `containerd` and its subprocess does not inherit anymore from `dockerd` limits. Have to set the target limits to `containerd` systemd service definition, ie:
[code]

[2019-08-07 19:42] engineertdog opened #16 "Proxy Config Warning"
I chose to utilize Load Balancer over the ingress controller, and I'm sure that's where this is coming from. Apart from which would be better to utilize in production (opinions are welcome), I'm curious to figure out how to fix it. I utilized the same configuration files, except for the `istio` folder config files, and I already have elasticsearch running under a different namespace for logging fo

[2019-08-07 20:03] robotdan commented on #16
Not sure..   somehow you need to get `X-Forwarded-Proto` header added to the request.

What does `service.beta.kubernetes.io/aws-load-balancer-backend-protocol:` - do?  I've seen a bunch of examples showing that being set to `http`, perhaps that will add the header for you if the incoming request is `https`?

Do you have a link to the documentation for the k8s `LoadBalancer` configuration?

[2019-08-07 20:13] engineertdog commented on #16
I'm not 100% sure exactly how it works since my network admin skills just aren't all there yet. However, it has to do with how the connections are made from the load balancer to the services themselves. The official explanation from kubernetes is as follows.
```Used on the service to specify the protocol spoken by the backend (pod) behind a listener. If http (default) or https, an HTTPS listener t

[2019-09-19 07:48] aazraq opened #17 "vCPU requirements for FusionAuth"
Hi Team,

May you please share the vCPU requirements and recommendations for each component on FusionAuth?

I am planning to run this on Kubernetes, so please tell me if there would be any issues with that?

[2019-09-19 18:06] robotdan commented on #17
This should work fine, the CPU requirements will be dependent upon how many users you need to be logging into FusionAuth.

You can generally perform ~ 20 hashes per second on a t2.medium EC2 instance which has 2 vCPUs. Depending upon your host system, you should get similar results.

You can also vary the hashing factor to increase or decrease this number, we default to `PBKDF2` with a `24,000` fa

[2019-09-20 06:11] #17 closed

[2019-10-22 15:35] zbruhnke opened #18 "1.10.2"
https://github.com/FusionAuth/fusionauth-containers/blob/24617856a144a6d1ea6589e3a74bfa3562c20f27/docker/fusionauth/fusionauth-app/Dockerfile#L41

Hey just FYI this URL is not working if pinned to 1.10.2 (probably because its not live yet) but it does work for 1.10.1

[2019-10-22 22:47] robotdan commented on #18
Yeah, that file gets versioned automatically. The published Docker images should be published in Docker Hub.

We could potentially wait to version these files as part of the release so that the `master` version would be usable as is.

[2019-10-26 08:17] Fidelis15 opened #19 "Docker installation problem"
I'm trying to run fusionAuth using docker containers. Is the first time I'm doing this.
Running the following command

`curl -o docker-compose.yml https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/docker-compose.yml
curl -o .env https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/.env
docker-compose up`

I've got the

[2019-10-30 12:57] xzessmedia opened #20 "Docker-Compose: .env not working -> max virtual memory areas too low"
Hi,

When i run the docker-compose stack with default parameters,
The Elastic Search Container does not run properly.

After changing the .env

and
FUSIONAUTH_MEMORY=1024M

It seems to not be reflected by the Elastic Search Container... nothing changes still the same error..

Am i missing something here or is it a bug?

[2019-11-12 12:41] theel0ja opened #21 "Do not publish unnecessary ports on docker-compose.yml"
Postgres' port isn't necessary to be bind on the public interface. Same goes for the Elasticsearch.

[2019-11-12 12:56] theel0ja commented on #20
Run on the host:
[code]

Read more: https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html

[2019-11-12 15:08] robotdan commented on #21
Hi @theel0ja

Are you asking us to remove `ports` section from `db` and `search` respectively?

[2019-11-12 16:47] theel0ja commented on #21
Yes.

[2019-11-14 20:10] robotdan commented on #21
Ok, got it. Feel free to submit a PR, or I can do it as well under this issue.

[2019-11-26 18:00] chrishare08 opened #23 "building a container for AWS Fargate and connectivity to Postgres RDS"
I am having difficulty creatine containers to run in Fargate with a custom configuration to our RDS.  Please see https://stackoverflow.com/questions/59055078/creating-app-and-search-containers-to-run-in-aws-ecs-fargate

[2019-12-08 00:29] robotdan commented on #21
@theel0ja how is this?
https://github.com/FusionAuth/fusionauth-containers/commit/0febc7ed40ce6e7be64b2349d6bc26a1226f2809

I left the network bridge stuff at the bottom, not sure if that is necessary.

[2019-12-10 18:13] theel0ja commented on #21
Great. Thank you!

[2019-12-10 18:13] #21 closed

[2019-12-23 22:00] zbruhnke opened #25 "Curious if this is preferred to the Fusionauth-search container?"
https://github.com/FusionAuth/fusionauth-containers/blob/88bd62b9c1eaa82a1bb3293b6f66b8c8474811ef/docker/fusionauth/docker-compose.yml#L20

Hi all,

Mostly just curious if this is the preferred use over the fusionauth-search container. It feels like having both is redundant. I have been using this with luck locally but as im settling on automating some local dev things I'm wondering why there is a

[2019-12-24 01:32] robotdan commented on #25
No preference, I tend to recommend the use of the vanilla Elasticsearch image provided by elastic.co.

We started publishing it out of habit, we've always provided a `fusionauth-search` zip, deb and rpm bundle so that ours users didn't have to be knowledgeable of Elasticsearch. The bundle is just plain Elasticsearch.

In theory we could stop publishing the `fusionauth-search` image. Once you're in

[2020-02-01 13:39] saulfrank opened #26 "Add ping to docker file"
Please add ping or telnet to docker file. It is useful to test external postgresql/elasticsearch networking.

apt-get install iputils-ping -y

[2020-02-02 04:57] jerishsd opened #27 "Upgrade of charts for k8s 1.16 and beyond"
Helm charts need migration for newer version of k8s as outlined in,
https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

Error when installing chart off tag 1.14.0 using kind below,
$ kind --version
kind version 0.7.0
:~$ sudo kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"cle

[2020-02-03 15:51] robotdan commented on #27
@trollr may be able to assist?

FYI, we will be moving the helm charts to this repo in the near future. https://github.com/FusionAuth/charts

[2020-02-03 16:03] trollr commented on #27
@jerishsd I think you fixed it already or do you need any kind of support? Thanks for your participation.

I added the kickstart feature to the helm chart and will deploy it to fusionauth/charts in a few days.

[2020-02-03 16:45] jerishsd commented on #27
Yep, need help :) Tried the chart migration conversion didn't go anywhere :(

[2020-02-03 16:46] jerishsd commented on #27
Thanks for the info and followup @robotdan .  Will get help from @trollr !

[2020-02-03 19:23] robotdan commented on #26
Thanks for the comment @saulfrank . Our goal is to make the container as small and secure as possible.

Once we move to OpenJDK, we'll likely transition to an Alpine base image which will be even more sparse than the base we are using today.

You can always add additional layers to our image or build one for testing using our base `Dockerfile`.
https://github.com/FusionAuth/fusionauth-containers/t

[2020-02-04 12:52] trollr commented on #27
@jerishsd I published the chart to ninjaneers public chart repository at https://github.com/ninjaneers-team/charts.

[code]

Documentation and code: https://github.com/ninjaneers-team/fusionauth

should work with 1.16 and above :)

[2020-02-05 22:39] michael-burt opened #28 "Use a good version of TinyTools"
In the [deployment manifest](https://github.com/FusionAuth/fusionauth-containers/blob/master/kubernetes/deployments/fusionauth-deployment.yaml#L18) for Kubernetes, you are using a [very suspicious version](https://hub.docker.com/r/darthcabs/tiny-tools/) of TinyTools.

You want to be using [this version](https://hub.docker.com/r/giantswarm/tiny-tools) of TinyTools. Might even want to use latest so

[2020-02-05 23:14] robotdan commented on #28
This is a community contributed file.
@nadilas any reason I shouldn't update the k8s config to use `giantswarm/tiny-tools` as suggested?

[2020-02-06 05:36] nadilas commented on #28
@robotdan none whatsoever, please do update 👍

[2020-02-07 12:57] abhishekjebaraj commented on #9
For me it worked when I removed the volumes section under the fusionauth service in the compose file.

[2020-02-07 16:11] robotdan commented on #28
Done!

[2020-02-07 16:11] #28 closed

[2020-02-12 10:52] KeenanLawrence opened #30 "Upgrade Java"
### Upgrade Java from JRE8

### Details

FusionAuth is currently using Oracle JRE8.

Oracle has moved away from the Oracle Binary License (BCL) which is the license had been operating under - to a license with even a more restrictive terms.

Oracle essentially has cut off all uses of Java in projects such s FusionAuth unless you purchase a license from Oracle. We have attempted to pursue a license

[2020-02-13 18:35] tyduptyler13 commented on #30
This is good to know. It also may be some time before we address our java version due to the new Oracle license. We also can't immediately jump to 9+ because some of our dependencies aren't compatible yet.

Maybe we could use a container that has java baked into the image to avoid the Oracle license issues for now. Something worth exploring.

[2020-02-14 07:09] robotdan commented on #30
We do have plans to move to OpenJDK 12 or 13 in the first or second quarter.

[2020-02-14 11:47] KeenanLawrence commented on #30
Thanks all.
I incorrectly assumed that the minor version update would be straight-forward.

We'll build out our own container using the Dockerfile provided and swap out the JRE to OpenJDK 1.8.0u191 (min). Are there any modifications / optimisations made to the provided JRE that we should be aware of?

[2020-02-14 15:11] robotdan commented on #30
Nope, we are using a stock Oracle jdk. You should be good to go in theory, although we are not currently testing the openjdk so your mileage may vary.

[2020-02-14 15:16] KeenanLawrence commented on #30
Yeah, in theory it should be a drop-in replacement. Will have our QA team test thoroughly.
Thanks so much for the feedback.

I'll leave it up to the Fusion team as to whether or not this gets closed, since the runtime upgrade is already on the roadmap.

[2020-02-17 00:07] robotdan commented on #30
Moved to fusionauth-issues, thanks!
https://github.com/FusionAuth/fusionauth-issues/issues/481

[2020-02-17 00:07] #30 closed

[2020-02-19 10:37] dmushkov opened #31 "error starting containers fusionauth-app:1.15.1"
org.apache.catalina.startup.Catalina load WARNING: Unable to load server configuration from [/usr/local/fusionauth/fusionauth-app/apache-tomcat/conf/server.xml]
org.apache.catalina.startup.Catalina start SEVERE: Cannot start server. Server instance is not configured.

IMAGE
fusionauth/fusionauth-app:1.15.1

image version 1.14.0 works!

is there any breaking change?

[2020-02-19 10:55] ltj commented on #31
Same here. Thought it was related to https://github.com/FusionAuth/fusionauth-containers/issues/5 but nothing works - with or without env overrides; same result

[2020-02-19 13:37] johnparn commented on #31
Got the same issue, can confirm that it works with 1.14.0.

[2020-02-19 16:16] robotdan commented on #31
Thanks for letting us know, we'll take a look and let you know.

[2020-02-19 17:07] a3nick commented on #31
Same issue here

[2020-02-19 17:40] robotdan commented on #31
Thanks to all that reported, we've confirmed the issue is related to a permissions change we made . I've yanked the affected docker images and we'll re-release them shortly.

[2020-02-19 17:48] #31 closed

[2020-02-19 17:57] tyduptyler13 commented on #31
We will release fixed images shortly

[2020-02-19 18:13] robotdan commented on #31
1.15.0 and 1.15.1 have been re-uploaded.
https://hub.docker.com/repository/docker/fusionauth/fusionauth-search

[2020-02-19 23:49] smcoll opened #32 "Docker won't build for version 1.15.3 due to malformed archive"
The real issue is a malformed zip archive - i wasn't sure where to report that.  In any case, this is failing:
[code]
Output:
[code]
Sanity check (works for 1.15.2):
[code]

[2020-02-19 23:54] smcoll commented on #32
Nevermind - i was following along for the master branch of the Dockerfile, which isn't `latest` tagged image after all.

[2020-02-19 23:54] #32 closed

[2020-02-20 20:39] smcoll opened #33 "fusionauth-app won't run due to filesystem permissions issue"
Having a permissions issue when running a `fusionauth-app` container.  Same results for 1.15.2 all the way down to 1.13.  For example:

[code]
Seems it's trying to create `/usr/local/fusionauth/logs` but unable due to permissions.

Using a dockerfile based on https://github.com/FusionAuth/fusionauth-containers/blob/1.15.2/docker/fusionauth/fusionauth-app/Dockerfile but using `bash` as the entrypoi

[2020-02-20 20:48] robotdan commented on #33
@smcoll can you confirm that you have the latest images? 1.15.0 and 1.15.1 were re-released after we corrected the permission issue.

@tyduptyler13 can you take a look to make sure this is no longer an issue?

[2020-02-20 20:49] smcoll commented on #33
Yes, i noted in the conversation at #31 that the images were updated, so i deleted my local images and pulled again.  Notably, though, this problem isn't only for 1.15.0 and 1.15.1 - i also see this issue with 1.15.2, 1.14.x, and 1.13.x (that's as far as i tested).

[2020-02-20 22:03] tyduptyler13 commented on #33
I can't seem to reproduce this problem. But based on your logs it does seem that your images have a permissions issue. The fact that it spans to 1.14.x and 1.13.x tells me that something odd is going on because the bug we introduced in 1.15.x (and fixed in #31) wouldn't affect those versions.

The logs issue (the reason we changed the docker file in 1.15.x) was fixed in 1.15.x. Is that what you me

[2020-02-20 22:12] smcoll commented on #33
Yes, i'm saying i have this problem with 1.13.x, 1.14.x, and 1.15.x.  So it's a problem with my local Docker setup?

[code]

[2020-02-20 22:35] robotdan commented on #33
I am not a Docker expert so I could be mistaken, but it looks like you trying to run the image under the `root` user?

If you call `docker run -it fusionauth/fusionauth-app:1.15.2` for example, it will default to the user specified in the `Dockerfile` which is `fusionauth`.

When you call `docker run -itu root fusionauth/fusionauth-app:1.15.2` - you're starting the container as `root` - which is n

[2020-02-20 22:43] smcoll commented on #33
i think @tyduptyler13 was invoking the container as `root` to be able to see permissions on files and directories unavailable to the `fusionauth` user.  That i'm seeing different file ownership altogether is the problem- it's probably something with my local setup.

[2020-02-20 23:02] robotdan commented on #33
Ah, ok, sorry I missed that part. Thanks for the clarification.

[2020-02-21 20:09] smcoll commented on #33
Yeah, the situation is that i have Docker user namespacing configured to map the container's root user to my host user.  So when it runs inside the container as user 1000, there are permissions issues.

[2020-02-21 20:09] #33 closed

[2020-02-24 17:04] smcoll commented on #33
For posterity, i have user namespace remapping configured on my linux host, to map processes to user uid 1000+.  Since the search and fusionauth images have a user at uid 1000, this mapped to user 2000 (1000+1000) on my machine, which couldn't write to the mounted volumes.  i disabled user namespace remapping for each service in the Dockerfile with `userns_mode: "host"` and it's working fine.  i t

[2020-02-25 15:30] robotdan commented on #33
Thanks for the update @smcoll is there perhaps a better way for us to be handling the assigned UIDs int he Dockerfiles?

We've put together what we thought to be a common pattern, but we are still learning a bit about the Docker world.

[2020-02-25 19:25] smcoll commented on #33
From what i've learned, there doesn't seem to be a _standard_ solution for Linux hosts, for what is [essentially a Unix issue](https://github.com/moby/moby/issues/2259#issuecomment-474612160), not a Docker problem per se.  There's a [long-standing Docker ticket](https://github.com/moby/moby/issues/22415), but not a clear path to resolution.

Windows and Mac hosts don't have these permissions issue

[2020-03-02 09:47] pierreozoux opened #34 "Is it open source?"
I'm curious, I found you there: https://opensource.builders/

But this repo doens't have a license, and you link to this docker image: https://hub.docker.com/r/fusionauth/fusionauth-app that has no repo associated.

I'm just wondering, thanks for the clarification.

[2020-03-02 16:35] robotdan commented on #34
Hi @pierreozoux - anything in our public GitHub repo is open source. The FusionAuth core application is not open source.

Hope that helps!

[2020-03-02 16:35] #34 closed

[2020-03-09 16:56] drpebcak commented on #27
I've just merged some stuff in for `networking.k8s.io/v1beta1` support (as well as a few other odds and ends). Is there anything left to do here? To my knowledge, this chart installs fine on k8s 1.17.

[2020-03-09 17:09] robotdan commented on #27
@jerishsd based upon the comments from @trollr and @drpebcak can we close out this issue or is there anything else that needs attention?

Thanks to all of you for your contributions to FusionAuth!

[2020-03-09 18:02] drpebcak commented on #26
As a potential workaround, the image does have curl/wget installed so you can test connectivity using those.

[2020-03-09 18:02] #26 closed

[2020-03-09 18:02] #25 closed

[2020-03-09 18:04] drpebcak commented on #23
Looks like the stackoverflow question was marked as resolved.

[2020-03-09 18:04] #23 closed

[2020-03-09 18:05] drpebcak commented on #20
This seems resolved.

[2020-03-09 18:05] #20 closed

[2020-03-09 18:08] drpebcak commented on #1
This seems resolved now.

[2020-03-09 18:08] #1 closed

[2020-03-09 18:11] jerishsd commented on #27
@robotdan @trollr @drpebcak Haven't got to testing it, but can be closed.  I'll try out later.

[2020-03-09 18:11] #27 closed

[2020-03-09 18:26] robotdan opened #41 "Move helm?"
@nadilas @trollr @drpebcak

Now that we have a charts repo ( https://github.com/FusionAuth/charts ) does it make sense to remove all of the Helm charts stuff from this repo and just point to the charts repo in the README?

I'm an idiot with this stuff, so I'll happily take your advice.

[2020-03-09 19:50] nodesocket commented on #41
Also very confused? I am trying to wrap fusionauth in my own custom chart using `requirements.yaml`. What do I specify then:

[code]

Then run `helm repo add fusionauth https://github.com/FusionAuth/charts`?

[2020-03-09 20:09] drpebcak commented on #41
Yeah I think having its own repo would be useful, especially if we turn that repo into a functional helm repository. I'll open a PR there for how I think it could look.

[2020-03-09 20:11] nodesocket commented on #41
Ok. This is blocking me for now. Is there anyway I can reference this GitHub repo directly in Helm using `requirements.yaml`?

Something like:

[code]

[2020-03-09 20:40] trollr commented on #41
You could use https://github.com/ninjaneers-team/charts as repository atm

[2020-03-09 21:22] nodesocket commented on #41
@trollr thanks.

The following worked:

[code]

[code]

[2020-03-09 22:50] drpebcak commented on #41
I've opened a PR for this in FusionAuth/charts. Please give some feedback about that process. It's marked as WIP and the deployment flow probably needs some testing before we can actually migrate.

[2020-03-10 00:42] nodesocket opened #42 "[helm] pods stuck in init using custom PostgreSQL and Elasticsearch"
Using my own Elasticsearch and PostgreSQL. So in `values.yaml` I am setting:

[code]

But the pods are just stuck on:

[code]

Looking at the pods ENVARS I see:

[code]

Is that right? I would have expected to see the custom hosts in ENVARs

[2020-03-10 15:50] #41 closed

[2020-03-11 01:38] drpebcak commented on #42
@nodesocket can you try this with the latest version of the chart from here: https://github.com/FusionAuth/charts

Some things have changed, so you will have to modify your values, but it should work.

[2020-03-11 02:53] #42 closed

[2020-03-11 05:14] drpebcak commented on #19
Hmm.. I was not able to replicate this. Running `curl -o docker-compose.yml https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/docker-compose.yml && curl -o .env https://raw.githubusercontent.com/FusionAuth/fusionauth-containers/master/docker/fusionauth/.env && docker-compose up` resulted in a successful startup for me.

Perhaps this was resolved in between

[2020-03-11 05:22] drpebcak commented on #16
This is because of how the annotation configures the ELB that is created - when setting `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: tcp` you are configuring a layer 4 load balancer that is unaware of the http protocol.

When you set `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http` you're telling the ELB to be a layer 7 load balancer, and at that point it wi

[2020-03-11 05:22] #16 closed

[2020-04-02 07:48] drpebcak commented on #19
Closing this for inactivity. Please feel free to open a new issue if you experience any problems.

[2020-04-02 07:48] #19 closed

[2020-04-23 18:28] rafifos opened #46 "FusionAuth doesn't start because it cannot find `curl`"
FA stopped working for me and my teammates this week, even the example isn't working anymore. We're using Docker and `docker-compose`.

Here's the output of the example:

[code]

[2020-04-23 18:33] rafifos commented on #46
Turns out that the `latest` tag actually pulls 1.16.0-RC.1, downgrading to 1.15.8  is a workaround.

[2020-04-24 00:50] robotdan commented on #46
Thanks @rafifos , we did remove `curl` from the image. We shouldn't need it, that part should be skipped when using docker. We'll investigate, for now the workaround is correct the previous version is the latest stable build.

[2020-04-24 06:04] robotdan commented on #46
Fixed in commit https://github.com/FusionAuth/fusionauth-containers/commit/722c2f04328424ae9ed01e8be8f4656016681ada and images have been re-released.

[2020-04-24 06:04] #46 closed

[2020-04-24 08:25] arslanakhtar61 opened #47 "Access fusionauth-app UI from outside container (external access)?"
I am using the following docker-compose.yml for deployment cloned from following https://fusionauth.io/docs/v1/tech/installation-guide/docker

[code]

I am unable to access the fusionauth UI screeen from http://localhost:9011 or http://fusionauth:9011

How can I access the UI welcome screen  from outside docker container? is there any
`enableExternal: true` env variable available?

Is there a way

[2020-04-24 15:51] mooreds commented on #47
Hello!

We had a bug in our a recent version of the docker image, but fixed and released it last night: https://github.com/FusionAuth/fusionauth-containers/issues/46

Sorry about that!

What is the id of your docker image? `docker images | grep fusionauth`. The latest as of right now is `3b69f6331776`, and I just tested to make sure that would work.

Also, a good way to test the app is up and runn

[2020-04-24 17:08] trex commented on #47
If you are using docker-compose, you can also tail the FusionAuth application logs without a image id by passing the declared service name:
[code]

[2020-04-24 17:49] arslanakhtar61 commented on #47
Upgrading to the latest `fusionauth docker image (id: 3b69f6331776)` solves the issues. Thanks

[2020-04-25 04:34] #47 closed

[2020-05-20 01:43] dbusley opened #48 "Database schema doesn't initialize"
Following the guide here: https://fusionauth.io/docs/v1/tech/installation-guide/docker

When I do docker-compose up the credentials in the .env file don't work (not surprising since they haven't been created) so I point them to postgres/postgres.

[code]

After that step, try to run docker-compose up again but still not working. Database wasn't created. I uncomment out the port mapping in the dock

[2020-05-20 01:52] mooreds commented on #48
What version of the docker image are you using?

[2020-05-20 01:53] dbusley commented on #48
docker compose that gets downloaded appears to use fusionauth/fusionauth-app:latest

[2020-05-20 01:59] dbusley commented on #48
Doing a `docker pull fusionauth/fusionauth-app:latest` appears to have fixed me up.

[2020-05-20 01:59] #48 closed

[2020-06-04 17:09] arslanakhtar61 opened #49 "ARM64v8 - Raspberry Pi compatible docker image"
I want to deploy fusionAuth onto ARM64v8 - Raspberry Pi 4. So far the docker images for fusionAuth only support amd64 architecture. Is there a way to deploy fusionAuth docker image on Raspberry Pi 4 k8s cluster?

[2020-06-04 17:16] mooreds commented on #49
I don't see why not, as long as you can run java, and I believe there is support for that architecture. Please feel free to fork and experiment with this.

Jerry Hopper took a look at "aarch64 support, for use on ARM single-board-computers": https://github.com/jerryhopper/fusionauth-install/commit/b10349b7b25b1f029c524650cae02a2230f6976a

so it looks like you might need to change the java install

[2020-06-08 11:42] satazor opened #50 "/bin/bash not found on k8s init container"
It seems that `giantswarm/tiny-tools:3.10` is based on alpine which doesn't have `/bin/bash`. Replacing with `/bin/sh` worked!

[2020-06-08 17:09] robotdan commented on #50
Can you describe what symptom or error you're encountering due to not having `/bin/bash`?

[2020-06-08 17:13] drpebcak commented on #50
This is kind of an odd divergence... The helm chart was using `darthcabs/tiny-tools` for this purpose, and it had bash installed. Just recently though I have been working on changing that to just use `busybox` because it has better multi-arch support.

[2020-06-08 17:14] drpebcak commented on #50
But yes the same script does seem to work with just `sh`.

[2020-06-08 17:22] mooreds opened #51 "Docker file references unpublished version"
https://github.com/FusionAuth/fusionauth-containers/blob/master/docker/fusionauth/fusionauth-app/Dockerfile references version 1.17.1, which doesn't exist.

Latest as of bug filing is 1.17.0: https://hub.docker.com/r/fusionauth/fusionauth-app/tags

[2020-06-08 17:38] mooreds commented on #49
Here's more:

[code]

[2020-06-09 06:14] arslanakhtar61 commented on #49
@mooreds Thankyou very mush for the effort to build amd64v8 images. I tried to run the images on my raspberry pi 4  but it's throwing an error
[code]
It's throwing the following error in `docker logs fusionauth-app`
**standard_init_linux.go:211: exec user process caused "exec format error"**

[2020-06-09 14:46] mooreds commented on #49
Hmmm. I'm not sure what's going on. Unfortunately I can't provide much support for ARM64 images at this time, was just relaying a message from one of our community members who is working on this.

[2020-06-09 19:37] jerryhopper commented on #49
My apologies for this @arslanakhtar61 ,  but pull the image again, and it works.
there was a problem, since dockerhub doesnt build arm64 (and i lack enough knowledge).

So i now build the image again on my arm64 sbc, and pushed that to dockerhub, and its working now. The downside is that its not automatically updated when FA releases a new version.

I hope to fix automated builds in the future.

[2020-06-09 22:06] robotdan commented on #51
This is working as designed.

[2020-06-09 22:08] #51 closed

[2020-06-10 00:11] jerryhopper commented on #49
Meanwhile, i found a guide to build arm64 containers on dockerhub (https://www.balena.io/blog/building-arm-containers-on-any-x86-machine-even-dockerhub/).
ill be trying to achieve this, so i can get some automated builds up and running

[2020-06-10 09:14] arslanakhtar61 commented on #49
@jerryhopper Thanks alot for the effort.

You could also use the new `docker buildx`  with `DOCKER_CLI_EXPERIMENTAL=enabled` to build images for multiarch using your x86_x64 architecture machine.
example
[code]

Also I just pulled the latest images and when I try to run using

[code]
I get the following error:
**tty: ignoring all arguments
/dev/pts/0**

Any suggestions on what is going wrong?

[2020-06-11 13:08] jerryhopper commented on #49
Bear with me: its my first aarch64 image, and everything is very expirimental.

The problem: I cant get a Alpine container to work correctly. - So i did some testing with other images.

Ive used a Ubuntu image which seem to work instantly. pull the updated images!

[code]

unfortunatly, the image is quite big.

[2020-06-11 17:16] jerryhopper commented on #49
@arslanakhtar61  please try the latest containers:  botnyx/fusionauth-app-aarch64:latest

DIGEST:sha256:18eb63e5f60e52d3bcd5b784961560f4e29b2ec1d953274732253f40ae4de824

This release uses a adoptopenjdk container, which runs ubuntu.  its 267MB big.
I updated the dockerhub-repo, using tags as version.

thanks for your interest in my little fusionauth pet-project.

[2020-06-12 05:59] arslanakhtar61 commented on #49
@jerryhopper Great Job!
It's working. Thank you very much.

@mooreds, @jerryhopper can we create like automatic builds using perhaps `docker buildx build` to publish the latest aarch64 version of docker image (to docker hub botnyx/ maybe) along with the regular amd64 whenever a new version of fusionauth-app is available? Any plan for this?

Will there be an official docker image for aarch64? Espec

[2020-06-12 20:08] jerryhopper commented on #49
I will look into that automatic building.   for now - i have a nanopi-neo2 dedicated to building arm64 images.
About minimizing the image: i already tried to keep it as small as possible, but if it can be improved - or better - run on alpine - it would be awesome.

Regarding the 'official' image, thats totally up to the FusionAuth staff.  Im just a big fan of fusionauth

[2020-06-12 21:06] robotdan commented on #49
Depends on what we mean by "official". :-)

@arslanakhtar61 or @jerryhopper assuming this is just for fun - but if there is a real business case to run FusionAuth in this embedded mode, perhaps we would be interested in publishing the image.

At a minimum, we could think about accept a PR for the `Dockerfile` under a `contrib` directory and let people build it themselves.

[2020-06-20 10:42] jerryhopper commented on #49
For what its worth, after some more fiddling, i produced a image of 108mb in size, and setup a dedicated automated builder.   I've used debian-buster as base for this container.

This essentially means there will be a automated build every time there is a new official dockerimage was released.

The automated arm64 builds can be found here :
https://hub.docker.com/repository/docker/jerryhopper/fusi

[2020-06-22 16:42] arslanakhtar61 commented on #49
Great Job @jerryhopper. Thanks a lot for the effort. I will now start pulling fusionauth images for my raspberry pi 4 arm64 board from your dockerhub repo.

[2020-06-22 16:45] robotdan commented on #49
yes, thanks for your contribution @jerryhopper !
https://github.com/FusionAuth/fusionauth-containers#community-contributed-docker-images

[2020-06-30 09:32] arslanakhtar61 commented on #49
@jerryhopper

I am trying to replace the `botnyx/fusionauth-app-aarch64:latest` docker image with your `jerryhopper/fusionauth-app-arm64:latest` image but am getting the following error.

`/usr/local/fusionauth/fusionauth-app/apache-tomcat/bin/catalina.sh: 38: /usr/local/fusionauth/fusionauth-app/apache-tomcat/bin/setenv.sh: Syntax error: "(" unexpected`

[2020-06-30 09:35] jerryhopper commented on #49
Please use the new repo, its a WAY smaller image - (and its on my personal
account)

https://hub.docker.com/repository/docker/jerryhopper/fusionauth-app-arm64

On Tue, Jun 30, 2020 at 11:32 AM Muhammad Arslan AKHTAR <
notifications@github.com> wrote:

--
8 mythes over omgaan met hardcore techies
<http://computerworld.nl/projectmanagement/75977-8-mythes-over-omgaan-met-hardcore-techies>

Skype : je

[2020-06-30 09:37] arslanakhtar61 commented on #49
Yes, the error is coming out from your docker hub repo ` jerryhopper/fusionauth-app-arm64:latest` image.

[2020-06-30 09:56] jerryhopper commented on #49
im investigating..

[2020-06-30 10:21] jerryhopper commented on #49
@arslanakhtar61 - please use the repo's issue-tracker for future issues please. https://github.com/jerryhopper/fusionauth_app_arm64/issues/1

Thanks.

[2020-07-05 16:53] jerryhopper commented on #49
@arslanakhtar61 i was fiddling with buildx, and i think you might be interested in this repo :  https://hub.docker.com/repository/docker/jerryhopper/fusionauth-app/tags?page=1

[2020-07-08 04:00] arslanakhtar61 commented on #49
@jerryhopper Great Work! I will try to run this new multi-arch docker image build with buildx. Thanks

[2020-08-27 10:45] fdlk opened #54 "DNS resolution issues when run in kubernetes / rancher"
We're running the server in kubernetes on a rancher cluster using the helm chart and occasionally the server gets into a state where unpredictably the DNS resolution starts to fail.

In our event logs we see
[code]

Our network manager pointed us at DNS resolution issues with the musl library in alpine images.
See for example: https://support.cloudbees.com/hc/en-us/articles/360040999471-UnknownHos

[2020-08-27 14:29] robotdan commented on #54
We'll have to review this issue. Do any of the work arounds mentioned in that KB article work for you?

[2020-08-28 20:44] fdlk commented on #54
The chart got updated really quickly so as a workaround we will set dnsConfig there and see if that fixes things. The nasty part of the issue is that it took us quite a while to figure out what was going wrong. We initially blamed node configuration on our on-premise cluster, since seemingly random other containers with alpine base images were also affected.

[2020-09-07 09:33] fdlk commented on #54
We deployed the chart and I can see the suggested workaround applied when I shell into the fusion auth container and do a `cat /etc/resolv.conf`:
[code]

However, we just got another UnknownHostException so the workaround is not doing its job.

[2020-09-23 17:47] DarkBlaez opened #55 "[Advice] Remove Namespace "default" from manifest"
Just a bit of advice, the namespace is assumed default by default, remove the "namespace: default" designator from the manifest so that alternate namespace can be defined within kubectl.

DB

[2020-09-23 18:32] DarkBlaez commented on #55
This requires some adjustment to the service definitions within fustionauth to reference <namespace>.svc.cluster.local

[2020-09-23 18:32] #55 closed

[2020-09-24 17:10] drpebcak commented on #50
This was fixed in the helm chart a while ago, but here is a PR fixing it here: https://github.com/FusionAuth/fusionauth-containers/pull/56

[2020-09-24 17:10] #18 closed

[2020-09-24 17:48] drpebcak commented on #50
#56 is merged now, so this should be resolved.

[2020-09-24 17:48] #50 closed

[2020-10-04 21:40] ceefour commented on #49
Although the original use case is for Raspberry Pi, this would apply to [AWS Graviton2](https://aws.amazon.com/ec2/graviton/) as well, which I'm already using for another app.

[2020-10-05 16:46] ceefour commented on #49
@jerryhopper

Oh and also [Apple Silicon Arm Macs](https://www.macrumors.com/guide/apple-silicon/), which is using the same architecture.
This docker build will be usable for more use cases.

I was using Elastic since it was required at that time, after 1.18 I disabled Elastic engine because currently the users are still small. I'm using FusionAuth as part of migration from previous system (Fireba

[2020-10-07 16:20] robotdan commented on #49
Will FusionAuth be the first IAM platform to run on "Apple Silicon" !? 😛

[2020-10-07 16:36] ceefour commented on #49
I hate to break bad news but _community-wise_, another product did: https://www.itix.fr/blog/secure-raspberry-pi-keycloak-gatekeeper/ , https://collabnix.com/building-arm-based-docker-images-on-docker-desktop-made-possible-using-buildx/

I also searched for another obvious competitor of FusionAuth, and no Arm package so far in the ubuntu focal repository.

But what I can is for Keycloak, it's stil

[2020-10-07 18:14] robotdan commented on #49
Sad. 😔 Well, we could be 2nd, or 3rd!

Thanks for the details @ceefour !

Fair enough!

For what it is worth, my definition of "a real business case" is if we have a client that wants to pay for support and our hosting and requires it to run on ARM.

For our FusionAuth Cloud, in theory the client doesn't care what it is running on and they just need a URL.

For our clients that need support and th

[2020-10-08 11:36] jerryhopper commented on #49
"_With regard to "official" support, from your perspective, what does this entail?_"
For me personally, it ONLY entails that there is one dockerhub-repo for fusionauth, which can be used for all architectures.

In short:  `docker pull fusionauth/fusionauth-app` should just work on all platforms

**Here is my current state of mind on the subject:**

Running FA on Arm64 is my personal learning proje

[2020-10-08 12:15] jerryhopper commented on #49
After checking out the keycloak links, i'd like to clear some things up regarding @ceefour findings.

**I love to bring the 'good' news,  because keycloak-gatekeeper is not an idp instance.**   its a oauth-reversed-proxy that works with the keycloak service. its just a [oauth2 proxy](https://hub.docker.com/r/bitnami/oauth2-proxy/), specificly tailored for keycloak

This means that FusionAuth is st

[2020-10-08 14:46] voidmain commented on #49
One other thing to add to this is that we specifically used Alpine with the JDK as our base image to reduce the size of our Docker container. We've considered a layered approach similar to @jerryhopper's but it does seem to increase the size considerably. I'm totally up for that approach though and prefer it because then we control the JDK rather than another package maintainer (i.e. `openjdk:14-j

[2020-10-08 22:45] jerryhopper commented on #49
@voidmain i might misunderstand what you mean with layered approach, but my issue with Alpine was that i couldnt get the openjdk14 (jlinked) running on arm. for that reason, i chose a ubuntu image which is considerably bigger.  So if you say 'layered approach' - do you mean the way you inherit code from - or on top of a image?  i dont do that in the [multiarch dockerfile](https://github.com/jerryh

[2020-10-09 16:07] robotdan opened #59 "Allow additional JDK modules via docker arg"
## Description
If someone wants to extend our base docker image and add additional JDK modules, we could optionally let them do this with a Docker arg I think.

## Work arounds

Modify the docker file definition and add additional arguments to the `jlink` command.

[2020-10-11 14:32] voidmain commented on #49
@jerryhopper - layers are part of Docker whenever you run a command in the Dockerfile. You can see the layers of any Docker image using this command:

[code]

Here's the output for your image:

[code]

Your image is actually pretty small considering it uses Ubuntu.

In terms of Alpine, I've had a lot of the same issues you have because it lacks `glibc` and uses `musl` instead. This makes the stand

[2020-10-11 16:59] robotdan commented on #59
We will be allowing modules to be specified through an arg `JDK_MODULES `.
https://github.com/FusionAuth/fusionauth-containers/blob/fa93eb7f71b7f00a6c3bcbb772c0897257f55efc/docker/fusionauth/fusionauth-app/Dockerfile

[2020-10-13 13:24] jerryhopper commented on #49
@voidmain thanks for clearing that up. i was under the (wrong)impression that  'inherit' was the same as layers.
Im also glad you explained the problems with alpine, musl, jdk & jlink in more detail than i was able to..

**_"I've updated our Docker container on a branch to use your strategy and Ubuntu as the base image."_**
_That makes me feel warm inside_, but there is a catch with this approach.

[2020-10-13 14:46] robotdan commented on #49
I'm getting smarter by reading this thread.

[2020-10-13 14:56] ceefour commented on #49
You should a sales rep to Arm and they might convert their identity platform to FusionAuth. ^_^

FusionAuth can be a strong contender for [IAM for IoT](https://www.iotforall.com/identity-management-iot). :)

[2020-10-13 20:26] voidmain commented on #49
I tested the `buildx` build process and it appeared to work correctly. I will say that I didn't test the actual images though. I only tested the build. I would imagine that I could test the resulting images using the ARM setup in AWS though.

Here's the build command I was using:

[code]

I'm not sure what the command is to extract the ARM image and copy it over to AWS though. If @jerryhopper or a

[2020-10-14 00:46] ceefour commented on #49
Thank you @voidmain.

Based on https://stackoverflow.com/a/59381719/122441, it seems the rest is similar to usual:

1. Push the multi arch images to docker hub (it supports multi arch already)
2. Launch an EC2 t4g / m6g.medium instance and install Docker / Compose on it
3. docker pull or docker run..

Note: AWS EKS/Kubernetes also supports arm64 now.

[2020-10-14 10:48] jerryhopper commented on #49
So,  i did some testing.   It seems that your (@voidmain ) Dockerfile doesnt work for Armv7 ( some java error: #6 168.2 Error: java.nio.file.FileSystemException: /tmp/openjdk/jmods: Value too large for defined data type"  )

But - without ArmV7 - i compiled/pushed/tested the images - and they work and are indeed super small.

`docker buildx build --build-arg FUSIONAUTH_VERSION=1.19.8 --force-rm --

[2020-10-14 12:20] ceefour commented on #49
@jerryhopper wow that's *really* good news !

Now that's we're talking ubuntu/glibc vs. alpine/musl, you might wanna check this out: https://medium.com/rocket-travel/alpine-vs-debian-images-for-java-jvm-builds-b8f8e1cc58a8

At least Python seems to be much slower on alpine/musl than glibc. I only found one Java benchmark, the takeaway is "but musl is almost 2× slower" though I'm not sure how Fusio

[2020-10-14 12:30] robotdan commented on #49
Great thread!

Thanks for the link to that article @ceefour !! That is very interesting.

We have had a few clients experience some issues with our docker image (currently using `musl`) - I am now quite curious if this could be a factor.

@voidmain we'll should do some quick load testing to compare performance across the two images, specifically while also hitting the status endpoint to simulate a

[2020-10-14 18:37] jerryhopper commented on #49
I did a quick test using the exact java-jdk version as in my build,  but again the armhf build fails with the exact same error.
while compiling using buildx i saw some ' vm granulitiy  or size error' (?) flying by.  But with docker buildx i cant quickly find that in logs ( they are located in the build container )

So now im running @voidmain dockerfile on a **bare armhf**  ([emulated](https://blo

[2020-10-16 16:14] ceefour commented on #49
Thank you very much @jerryhopper . I'm currently using FusionAuth with Kubernetes (amd64).

However later on when I set FusionAuth on staging environment I'll definitely try your aarch64 docker build, it's very interesting at least for the cost saving.

This means admins can freely choose their preferred architecture, both on server and development workstation.

While the original thread is for Ra

[2020-10-17 19:30] robotdan commented on #49
The current plan was to ship this with `ubuntu:focal` , will that work from your experience @jerryhopper or is `bionic` the latest version you've gotten to work out?

[2020-10-19 10:26] jerryhopper commented on #49
@robotdan  using 'focal' the exact same thing happens to the armv7 build.

`#5 166.0 java.nio.file.DirectoryIteratorException: java.nio.file.FileSystemException: /tmp/openjdk/jmods: Value too large for defined data type`

I pushed this test to : https://hub.docker.com/layers/jerryhopper/demo-multiarch/   ( 1.19.8-brian-fixedarm-focal )

So, again the Armv7 buildx seems to be a problem when buildin

[2020-10-19 22:43] Codelica opened #60 "DATABASE_ROOT_USER vs DATABASE_ROOT_USERNAME"
Just did a fresh install and saw the following warning:

[code]

It seems that DATABASE_ROOT_USER should now be DATABASE_ROOT_USERNAME, but didn't make it into the [updated compose file](https://github.com/FusionAuth/fusionauth-containers/blob/98a9fb42ae390258926844d0fe99b3833099ca45/docker/fusionauth/docker-compose.yml#L25) yet maybe?  Making that change seems to have gotten rid of the warning.

[2020-10-22 07:14] robotdan commented on #60
Thanks for letting us know @Codelica we'll get that updated!

[2020-10-22 07:23] #60 closed

[2020-10-24 01:43] jerryhopper commented on #49
FusionAuth version 1.20.0 was released, and the arm community builds now runs off @voidmain [Dockerfile](https://github.com/FusionAuth/fusionauth-containers/issues/49#issuecomment-706713548) with one exception: ubuntu bionic as base in order to be able to supply armhf containers.

https://hub.docker.com/layers/jerryhopper/fusionauth-app
Most notable change is that the image size shrunk to  ~120meg

[2020-10-24 05:07] ceefour commented on #49
AWS Fargate will support Arm64 (AWS Graviton2) in the future. Track progress here: https://github.com/aws/containers-roadmap/issues/793

- https://github.com/firecracker-microvm/firecracker/milestone/7
- https://github.com/firecracker-microvm/firecracker/labels/Feature%3A%20CPU%20Support%3A%20ARM

For those wanting to reduce operational overhead in running FusionAuth, when this feature is GA by AW

[2020-10-26 19:18] robotdan commented on #59
This is available in version 1.20.0.

[2020-10-26 19:18] #59 closed

[2020-10-26 22:27] robotdan commented on #49
Thanks for everyone's expertise on this thread - this is making our Docker image better and more flexible. We really appreciate your contributions.

You may find a special thanks and callout on the 1.20.0 release notes!
https://fusionauth.io/docs/v1/tech/release-notes/

[2020-10-27 04:45] ceefour commented on #49
Thank you @robotdan ! Minor things:

- typo: should be Graviton
- typo: should be Raspberry
- this one is subjective, certainly some people do use Raspberry Pi as a hobby, but the Pi is also used in various "serious" work. I myself use Pi in [my PhD as part of IoT sensor network](https://ieeexplore.ieee.org/abstract/document/9068004/). This is up to you, but if you'd like a replacement word for "h

[2020-10-27 05:20] robotdan commented on #49
Thanks @ceefour I'm embarrassed I didn't double check my spelling. 😔 I'll update to fix shortly.

[2020-11-04 15:52] jerryhopper commented on #49
for what its worth to anyone:  I've setup automation on the gitrepository, using a github-runner.   See /.github/workflow/main.yml for details.
https://github.com/jerryhopper/fusionauth-app-multiarch

[2020-11-04 16:27] robotdan commented on #49
@voidmain -> https://github.com/jerryhopper/fusionauth-app-multiarch/blob/master/.github/workflows/main.yml

[2020-12-07 19:02] nodesocket opened #64 "Publish / deploy 1.22.1"
Can you publish version `1.22.1` to Docker hub? I believe the latest version published is `1.22.0` (https://hub.docker.com/r/fusionauth/fusionauth-app/tags?page=1&ordering=last_updated). Thanks.

[2020-12-07 19:24] robotdan commented on #64
1.22.1 is not released yet.
https://fusionauth.io/docs/v1/tech/release-notes/

[2020-12-07 19:25] #64 closed

[2020-12-07 19:39] drpebcak commented on #54
I'm going to close this now - the fusionauth image uses ubuntu instead of alpine these days.

[2020-12-07 19:39] #54 closed

[2020-12-07 19:40] drpebcak commented on #7
This should be resolved by #95

[2020-12-07 19:40] #7 closed

[2020-12-16 17:32] narayanpromax opened #65 "Reverse Proxy Not Working"
Reverse proxying via caddy doesn't work. It gives 502

CaddyFile Content As below

[code]

1. fusionauth is service running in docker
2. caddy is running as service running in docker with above CaddyFile

[2020-12-16 22:03] mooreds commented on #65
This issue may be worth reviewing, as I think @atakane got this working: https://github.com/FusionAuth/fusionauth-containers/pull/61

[2020-12-16 22:15] atakane commented on #65
did you try without the protocol? Caddy wants us to write domain like
auth.mydomain.com rather than https://auth.mydomain.com

[2020-12-17 03:43] narayandreamer commented on #65
Yes, i tried.

Actually i copied hasura's caddy part for CaddyFile and docker and replaced necessary params on a different server.

https works in hasura but i tried both before posting here.

Even ip gives 502. Only accessing via :9011 working for now

[2020-12-22 20:40] danielporto opened #66 "How to perform healthchecks?"
I tried to add healthchecks to my docker-compose files and noticed that there is no curl installed.
Is there another way to test when the system is loaded and ready?

for context I tried:
    healthcheck:
      test: [ "CMD-SHELL", "curl", "--silent", "--fail", "http://localhost:9011/api/status || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

looking at

[2020-12-22 20:45] danielporto opened #67 "Preload configuration"
I would like to define an initial configuration for using at the deployment time.
For instance, would be nice to have some pre-configured app/users/passwords/permissions (can be loaded via script)
just in case I need to throw all containers away and start clean but avoid to reconfigure the authentication when the focus would be developing an webapp.
It can be something only enabled in development

[2020-12-22 22:51] mooreds commented on #67
I think you are looking for kickstart: https://fusionauth.io/docs/v1/tech/installation-guide/kickstart

Here's how to run configure Kickstart to run when you are using docker: https://fusionauth.io/docs/v1/tech/installation-guide/docker/#kickstart

I'm not sure how you are starting your containers, but I imagine you could create and make a kickstart file available in other deployment environments

[2020-12-22 23:01] mooreds commented on #66
Hmmm. Seems like we'd need to install curl in the image (or you could roll your own docker file and do so).

Do you have a second system with curl installed which could call that url (maybe from a proxy)?

[2020-12-23 09:09] danielporto commented on #67
That's exactly what I need! Thank you!

[2020-12-23 09:09] #67 closed

[2020-12-23 09:40] danielporto commented on #66
Here I share what worked.
created a new Dockerfile with the content:
[code]

and appended to the docker-compose.yaml the following:
[code]

If not too much, I think it may not be a problem adding curl (or any internal custom testing script) to the image.

Side note: security concerns. Adding curl augment the surface of attack (another tool with libs, just for testing...) ideally a custom script in

[2020-12-23 16:02] mooreds commented on #66
Thanks for sharing @danielporto !

Would you mind adding a feature request ("please add java curl to the docker image so that healthchecks can be performed without creating a new image") to the github issues list: https://github.com/FusionAuth/fusionauth-issues/issues/new?template=feature_request.md

That is our central issue repository and how we track community contributions to our roadmap: http

[2020-12-23 16:03] danielporto commented on #66
Sure, thanks a lot!

[2020-12-23 16:03] #66 closed

[2021-01-12 16:54] allochi commented on #65
Hi, did you find a solution for this?

[2021-01-12 21:45] allochi commented on #65
My solution to this challenge, I used docker for everything, hope it works for others.
Unfortunately I wasn't able to use DigitalOcean managed database, I always get connection error, but this is another story.

**docker-compose.yml**
[code]

**Caddyfile**
[code]

[2021-02-27 12:30] richb201 opened #69 "problem with loading fusionauthdb on RDS"
I have been battling with getting fa to work with mysql rds. I am using fusionauth/fusionauth-app:1.19.7

When I use this `DATABASE_URL: jdbc:mysql://database-2.cwymdn16cxes.us-east-1.rds.amazonaws.com;dbname=fusionauthdb` and I look in the docker logs, I see a huge number or errors.

for example:
[code]

If I instead use this one:
`DATABASE_URL: jdbc:mysql://database-2.cwymdn16cxes.us-east-1.rds.

[2021-03-09 04:32] robotdan opened #70 "Optionally ship required modules for JMX in our Docker image"
Re: https://github.com/FusionAuth/fusionauth-containers/issues/59

We added the option for anyone to add additional JDK modules and build their own image based upon our `Dockerfile`. This was added to make it easier to add JMX support to the base image.

If we think that many will want to use JMX, perhaps it makes sense to add these two modules to our base image if it doesn't add much bloat.

At a

[2021-05-26 09:23] konvergence opened #71 "why is there a "pi" link on bottom left of /page with URL https://thepraetorians.net/ ?"
Hi all,

I'm surprise to discover a link on https://thepraetorians.net/ on the / page
What is this link ?

[2021-06-09 21:45] ColinM9991 commented on #49
Thank you for your persistence @jerryhopper. I've recently stumbled across this as I'm also building some Docker images on RPi ARM64. Your Actions yaml file, with a few tweaks, did the trick for me.

[2021-07-12 15:05] mooreds commented on #71
It's an Easter Egg/geeky joke. More here: https://github.com/FusionAuth/fusionauth-issues/issues/1242

You can modify the page via the admin ui or the theme API.

Closing.

[2021-07-12 15:05] #71 closed

[2021-07-12 15:08] mooreds opened #73 "Test with the m1 chip"
Looks like there's GA support for the m1 chip with Docker.

https://docs.docker.com/docker-for-mac/apple-silicon/

We should test our image on this hardware (it should work, but there may be issues with mysql as mentioned in the above link).

It looks like openjdk runs fine on m1: https://doesitarm.com/app/openjdk/

### Related
https://github.com/FusionAuth/fusionauth-issues/issues/1227

[2021-07-12 15:32] voidmain commented on #73
Currently OpenJDK version 14 only supports Intel x64:

https://adoptopenjdk.net/releases.html?variant=openjdk14&jvmVariant=hotspot

Similarly, Oracle OpenJDK version 14 also only support x64:

https://jdk.java.net/archive/

We also cannot upgrade to OpenJDK 17 until we replace Nashorn. OpenJDK 17 will be the first JDK that supports the M1 chip, so perhaps we can get this upgrade done in October or

[2021-11-20 22:00] rscheuermann commented on #73
I'm receiving Java-related core dumps running the Fusion Auth docker container on an M1 MacBook.

Other than waiting for Fusion Auth to upgrade Java, what are my options for running it locally? Has anyone solved this or rebuilt the images for ARM?

[2021-11-20 22:12] rscheuermann commented on #73
Nvm, answered my own question by finding this: https://github.com/FusionAuth/fusionauth-containers#community-contributed-docker-images

jerryhopper's image is working for me!

[2021-12-14 06:18] dmitryzan commented on #73
Bumping this up.

With more and more new MacBook Pro's with M1 Pro/Max chips this becomes a problem for local development.
Multi-arch images are not for enthusiasts anymore but for daily use.
None of the engineers I know can run official FA images on new MBP's now (high CPU load, constantly stuck, high memory usage).

The jerryhopper's multi-arch image work great (kudos to him), but they are not "

[2021-12-19 02:13] ceefour commented on #49
OMG! OMG! OMG!

![image](https://user-images.githubusercontent.com/24123/146661153-e2d7970c-dea8-4acc-85cb-383bd9b9882e.png)

Evidence: https://hub.docker.com/layers/fusionauth/fusionauth-app/1.32.1_multi/images/sha256-da71d5be2bc849ef9d4e1205508fa34994973d75798a47cab9a8484ee2592ff7?context=explore

So this is official?

Thank youuuuuuuuu @robotdan !!!

[2021-12-19 02:25] ceefour commented on #49
Today is I think a major milestone for FusionAuth, definitely deserves a release note.

I've been running FusionAuth in Fargate (amd64) so far and it's been rock-solid, and relatively easy to deploy & manage.

AWS is (understandably) pushing its own Arm processors, and now available in Fargate:

https://aws.amazon.com/blogs/aws/announcing-aws-graviton2-support-for-aws-fargate-get-up-to-40-better-p

[2021-12-19 02:43] ceefour commented on #49
Example usage with Pulumi:

[code]

[2021-12-19 03:05] ceefour commented on #49
I just switched a FusionAuth instance to arm64 and the transition was so smooth I couldn't even tell whether it's actually running the arm64 version. Definitely not here:

![image](https://user-images.githubusercontent.com/24123/146662149-87a6b028-a1a4-419e-8068-9867d8af5a01.png)

Amazon ECS Web UI doesn't show anything either at runtime. The only clue is the Task Definition, and even that in JSON

[2021-12-19 03:15] ceefour commented on #49
The downside at this point is that AWS seems to be overbooked with Graviton.

I previously used `FARGATE_SPOT` capacity provider in `ap-southeast-1a` and had no capacity issues.
After switching to `ARM64` it cannot provision due to undercapacity. But changing to `FARGATE` capacity provider works, with higher bill obviously.

But this is awesome! Choice!

[2021-12-20 16:22] robotdan commented on #49
@jerryhopper I too get this error when trying to build the arm v7 image.

But I am building on an intel MacBook. We will be getting our M1 MacBooks shortly, so I can retry on that platform. But we currently release on an x86 Linux server. However, we could probably spin up an arm based build agent to release additional image architectures .

@ceefour

Hopefully soon. Just ensuring it works, but I

[2021-12-20 16:24] robotdan commented on #49
Arch type for the about panel -> https://github.com/FusionAuth/fusionauth-issues/issues/1531

[2021-12-20 19:17] robotdan commented on #49
@ceefour how about this?

![image](https://user-images.githubusercontent.com/1148709/146820503-0cd29b63-c0bb-4094-a978-e07e044231c1.png)

That is essentially just a string made up from Java properties `os.name`, `os.version` and `os.arch`. I think this `arch` value will be the Java arch, and not necessarily the underlying OS arch type. In most cases they should be the same, but not necessarily. So

[2021-12-20 20:26] jerryhopper commented on #49
a quick note from my side:  i will look into the armv7 issue tonight - it previously runned here on a qemu, i will test/try again on real armv7 hardware instead of a emu.

[2021-12-21 02:05] ceefour commented on #49
@robotdan that is awesome! 🔥

[2021-12-21 10:05] jerryhopper commented on #49
As far as i know, jlink is seems to import/copy the jmods for some shady reason.
i have tried but somehow dont get this error. it seems to hit some kind of limit.  (32/64bit?)    Also im not quite familiar with your build-enviroment. (and i dont have a mac) - but i will look into it.

Wild guess:  maybe specifying the arch during build helps?

`###### Setup the java and fusionauth-app base #######

[2021-12-21 16:05] jerryhopper commented on #49
Maybe it is an idea to use Github Actions? - i created a workflow for that, which you can find in this branch: https://github.com/jerryhopper/fusionauth-containers/tree/jerryhopper--multi-build-githubworkflow

i had to slice the command in the dockerfile,  because for some weird reason it fails if i dont split the command.

[2022-01-28 23:16] robotdan commented on #73
Should work now...  try out the tag `:1.32.1_multi_test_2`

https://hub.docker.com/r/fusionauth/fusionauth-app/tags

The next full release will begin building multi-arch! Including the Docker image that will run well on M1!

[2022-01-28 23:16] #73 closed

[2022-02-03 00:02] nodesocket commented on #49
We also would like a `arm64` version, specifically back ported to tag `1.24.0`. 🙏🏻

[2022-02-03 01:32] robotdan commented on #49
Hmm, that may be possible. I’ll take a look.

[2022-02-03 03:12] robotdan commented on #49
Done and done.

https://hub.docker.com/layers/fusionauth/fusionauth-app/1.24.0/images/sha256-fb023e73f644c114636914ab7ea1ccaeb525726cc8dcda106c01dea94469f638?context=repo

Any specific versions you want in between 1.24.0 and current? I suppose we could just republish all of them as well.

[2022-02-03 03:12] nodesocket commented on #49
@robotdan just saw that it looks like you pushed up `1.24.0` with `arm64` support. First of all, thank you so much. 🙏🏻 👨🏻‍🎤

Shouldn't that tag also have `linux/amd64` as well though for Intel? Or does the original tag push with `amd64` still get pulled in that case?

Thanks again 💯

![Screen Shot 2022-02-02 at 9 06 32 PM](https://user-images.githubusercontent.com/523312/152275271-96437a13-bb2c-49

[2022-02-03 03:13] robotdan commented on #49
Yes.. was in the middle of testing a few things. Refresh and it should show all 3 architectures now.

You're welcome!

[2022-02-03 03:17] robotdan commented on #49
I think I'll close this one out. I published images back to 1.24.0 for `linux/amd64`, `linux/arm64` and `linux/arm/v7`.

Going forward all releases will be published with at least those three architectures, perhaps `linux/ppc64le` and `linux/s390x` for good measure. I don't want to leave our IBM Power and IBM z friends out.

Anyone have an opinion an y additional architectures? I see there is a `l

[2022-02-03 03:23] robotdan commented on #49
Thank you so much to everyone who has provide suggestions here, helped us understand the need, and for contributing code, examples, etc.  @jerryhopper @ceefour @nodesocket @arslanakhtar61 @ColinM9991 .

We plan to put out a press release for our multi-arch support. We may add some community member quotes if anyone is interested in contributing one. If interested, use the contact form on the websit

[2022-02-03 03:34] robotdan commented on #49
I only released the latest patch in each point version.
https://github.com/FusionAuth/fusionauth-containers/actions

If anyone needs another version for `arm64` let me know.

[2022-02-03 03:35] #49 closed

[2022-02-04 23:57] kevcube opened #77 "Published images include wrong JDK"
<img width="428" alt="Screen Shot 2022-02-04 at 4 21 21 PM" src="https://user-images.githubusercontent.com/716806/152618404-d71ece8f-433f-42bf-b90d-9d5d8d0737d3.png">
(From image fusionauth/fusionauth-app:1.32.1 linux/arm64)

When I build from these Dockerfiles, I get an image that properly contains the arm64 JDK/JRE, but when I pull from Dockerhub I get an arm64 image with an x86-64 JDK that fail

[2022-02-05 17:37] robotdan commented on #77
Thanks @kevcube will take a look.

[2022-02-05 20:53] robotdan commented on #77
I thinkI understand the problem.

One issue is that `dpkg --print-architecture` is not a reliable way to identify arch in multi-arch builds using `buildx`. This will show the `arch` of the build platform but not the target.

Lots good info here on how to identify arch and the issues with various ways of identifying target arch during a build.
https://github.com/BretFisher/multi-platform-docker-bui

[2022-02-05 21:39] robotdan commented on #77
Got it all working, updating images now. The `1.32.1`and `latest` tags has been updated if you want to confirm.

[2022-02-05 21:40] robotdan commented on #77
Thanks a lot @kevcube for letting us know and for the debug you collected and posted here and in https://github.com/FusionAuth/fusionauth-issues/issues/1590 , that was very helpful.

[2022-03-07 09:23] nickkostov opened #78 "How to upgrade Elasticsearch Deployment Template."
Hello,

I have been trying to upgrade the Elasticsearch version of my search configurations.
Current version is: 6.3.1.
I run this in an EKS cluster.

What I am asking is any tips regarding the upgrade.
When I firstly attempted to upgrade it failed.
I am trying to jump to `>= 7.2`
Is there a document showing how to update it, because I have started receiving feedback from our back-end developers s

[2022-03-07 09:25] nickkostov commented on #78
If possible, can we update the default template inside the examples for `search` ?

[2022-07-11 19:38] kevcube opened #80 "request: include CURL or WGET in built images so that we can test docker healthcheck within docker-compose"
Docker-compose (and docker run)'s healthchecks execute a command inside the container, and fusionauth's healthcheck lives at an HTTP endpoint, so in order to test it from inside the container we need either wget or curl available.

One possible solution is to install these tools in the built image, another possible solution is switching to alpine which includes wget by default and may make built c

[2022-07-18 08:33] tom-s07 opened #82 "Docker DB container doesn't start"
Following the installation docs from https://fusionauth.io/docs/v1/tech/installation-guide/docker doesn't result in a working fusionauth docker setup.

DB container `fusionauth-db-1` doesn't start due to version conflict.

[code]

[2022-07-18 09:39] tom-s07 commented on #82
Ah, had apparently run fusionauth a while ago on this machine already and there was an old volume still laying around.
Removing that solved the issue.

[2022-07-18 09:39] #82 closed

[2022-07-18 14:55] mooreds commented on #82
Glad you figured it out, @tom-s07 !

[2022-08-05 08:08] nick-kostov opened #83 "FA time outs"
Hi everybody,
We have Fusionauth installed on EKS and we have an LB pointing towards CF.
We are experiencing time outs from time to time with the admin page.
I was wondering if this could be a tomcat problem since I noticed that this is its web-server.
Logs are telling us nothing.

This is the version that we use:
fusionauth/fusionauth-app:1.30.1

Looking forward your replies.

[2022-08-05 11:51] mooreds commented on #83
That's a pretty old version of FusionAuth (almost a year old).

Is there anything happening in the FusionAuth or LB logs when the timeouts occur?

[2022-08-05 13:15] nick-kostov commented on #83
Hello and thank you for your reply:
These are the errors that I get:
`2022-08-02 2:49:33.982 PM ERROR io.fusionauth.api.service.cache.DistributedCacheNotifier - Failed to request a cache reload for [http://10.0.20.227:9011]. Exception message: Read timed out.
2022-08-02 2:52:51.243 PM ERROR io.fusionauth.api.service.cache.DistributedCacheNotifier - Failed to request a cache reload for [http://10.0

[2022-08-05 15:38] mooreds commented on #83
Thanks! Can you replicate the issue with 1.36.8?

[2022-08-05 15:40] nick-kostov commented on #83
I do not think that this is possible at the moment, since we have to upgrade it in a production EKS.
I can get a response to that in a week.
Can we keep this open until I am able to schedule such change in the systems.
BR,
Nicky Kostov

[2022-08-06 01:37] mooreds commented on #83
Sure. It would be best done in a testbed, because, well, production. I'm not positive it will fix the issue, but it'd be helpful information. FYI, fixes for issues like this are not typically backported to old releases.

[2022-08-11 16:10] kevcube opened #84 "Unpatched vulnerabilities in latest build"
see `docker scan fusionauth/fusionauth-app:1.37.1`

There are 13 vulnerabilities in apt/deb packages, and 11 vulnerabilities in maven packages.

Apt ones are usually fixed by running an `apt-get upgrade` in the build of your release docker image. Maven ones I'm less sure about as I'm not a Java dev but Snyk recommends fixes.

[2022-08-15 07:27] nick-kostov commented on #83
Hi @mooreds,
I have spoke with the DEV team regarding the problem.
They requested to explain to you that only the dashboard is only timing out when there are XXXX amount of users and YYYY amount of apps in the system. The time outs do not look that random.
Also, is there a way with which we could tune the time outs in tomcat in order to adjust it properly.

[2022-08-15 07:28] nick-kostov commented on #83
I will be starting the upgrades this week and will get you feedback regarding: 1.36.8

[2022-08-15 12:57] mooreds commented on #83
Hi @nick-kostov

Just FYI, it may make sense to go directly to 1.37.2, which is the latest released version: https://fusionauth.io/docs/v1/tech/release-notes

(1.37 switched to netty from tomcat, fyi.)

You can look at the configuration options for any timeout settings: https://fusionauth.io/docs/v1/tech/reference/configuration

It's worth noting that how the timeouts occur depend on how you are u

[2022-08-23 21:58] anicolas-richard opened #85 "X-Forwarded-Port Proxy Header missing"
After initial setup FusionAuth warns about proxy configuration.
This prevents using the App, like adding an Application.
It seems X-Forwarded-Port is missing in the nginx configuration.
Adding the statement in http_default.conf fixes this, in my case.

[2022-08-23 22:03] mooreds commented on #85
Thanks @anicolas-richard, which nginx proxy configuration did you modify?

[2022-08-23 22:03] mooreds commented on #84
Thanks @kevcube we'll take a look.

[2022-08-23 22:12] anicolas-richard commented on #85
@mooreds
I added
	proxy_set_header X-Forwarded-Port 80;
in the resulting following block :

server {
	listen 80;
	server_name vm3859.jn-hebergement.com;
	proxy_set_header Host $host;
	proxy_set_header X-Forwarded-Host $host;
	proxy_set_header X-Forwarded-Proto "http";
	proxy_set_header X-Forwarded-Port 80;

	location / {
		proxy_pass      http://fusionauth;
	}
}

[2022-08-23 22:28] mooreds commented on #85
Thanks for sharing your solution, @anicolas-richard . I am sorry if my question wasn't clear.

I didn't think we shipped a nginx proxy, except as part of our community supported repo here:
https://github.com/FusionAuth/fusionauth-contrib/

Ah. I see the issue now. I never got this PR approved and merged: https://github.com/FusionAuth/fusionauth-containers/pull/81

Please feel free to make any othe

[2022-08-25 09:56] nick-kostov commented on #83
Hi @mooreds,
Thanks for your help and suggestions. We have upgraded FA to ```1.38.1```
Everything is working as expected, as we would say it works even better than before.

Just one last question, when running FA in Amazon Kubernetes Service or Kubernetes at all do you suggest we put 2 replicas for production workloads and should it go on a separate worker group.

[2022-08-25 09:58] nick-kostov commented on #69
The answers of this questions may vary.
I would suggest you look into the RDS size and see how many concurrent connections are supported.

[2022-08-25 13:47] voidmain commented on #69
I'm not sure how you have everything setup, but this could be caused by AWS security groups. If the EC2 is allowed to connect to the RDS in your security group, then that would be way it works fine. However, if your security group is blocking traffic from the outside, that could be causing the errors.

You'll want to ensure that you are able to connect to MySQL using the MySQL command line tools f

[2022-08-25 13:58] mooreds commented on #83
Glad you figured out the issue and things are running smoothly!

This feels like a support question :) . For technical support, you have two options:

* buy a plan with engineering support: https://fusionauth.io/pricing
* post in the community forum: https://fusionauth.io/community/forum/

More on our technical support options: https://fusionauth.io/docs/v1/tech/admin-guide/technical-support

Fina

[2022-08-26 09:30] #83 closed

[2022-09-03 14:08] mooreds commented on #85
closing this as any changes to the community nginx proxy config should be submitted here: https://github.com/FusionAuth/fusionauth-contrib/

[2022-09-03 14:08] #85 closed

[2022-09-23 14:45] GlebKuzmich opened #87 "Can't use read-only file anymore"
Hey,

We've been using FusionAuth for quite a while, but starting with recent updates started to have the following error:

sed: couldn't open temporary file /opt/openjdk/conf/security/sedxxx: Read-only file system

Indeed, setting the container's read-only option to false does not seem to be a great idea.

Any advice or workaround would be much appreciated.

Best

[2022-10-10 11:45] GlebKuzmich commented on #87
@mooreds I've been advised to tag you as a person that might help to find some solution to the above issue :)

[2022-10-17 12:50] GlebKuzmich commented on #87
@mooreds Hey, sorry about the delay, I need to turn on notifications :D

We use the default Dockerfile in EKS, we start to see the error mentioned above as soon we set

[code]

As far as I remember, that did not happen until FusionAuth version 1.37.x. (maybe 1.38.x).
Ideally, we'd like to have the readOnlyRootFilesystem option on, so need your advice on how to get it back.

Best regards,

Gleb

[2022-10-17 14:23] mooreds commented on #87
@GlebKuzmich does FusionAuth start up and when you set the readonly attribute to true? Or does it fail to start?

I looked at the startup script and the reason it does this is because of this issue: https://github.com/FusionAuth/fusionauth-site/issues/1202 and this issue: https://github.com/FusionAuth/fusionauth-issues/issues/1814 (which reverted 1202, essentially).

[2022-10-17 15:42] mooreds commented on #87
@GlebKuzmich thanks. I will file a tracking issue in our issues repository.

No easy workaround right now, sorry.

[2022-10-17 15:51] mooreds commented on #87
Feel free to add any additional info or commentary, @GlebKuzmich : https://github.com/FusionAuth/fusionauth-issues/issues/1924

Also upvote it by giving it a thumbs up emoji, as that helps us determine the roadmap.